<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <h1>My About</h1>
      <img src="img/6041b1580f2b1.jpeg" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Fbaz Gans</h1>
      <p class="lead">Programming | Content Creator</p>
    </div>
  </div>
</div>